### BASE
SERVICE_NAME=auth
APP_ENV=local
LOG_LEVEL=debug

### GRPC
GRPC_PORT=50052
GRPC_HOST=localhost

### JWT
JWT_SECRET=secret
ACCESS_TOKEN_TTL_MINUTES=30
REFRESH_TOKEN_TTL_DAYS=60

### DATABASE
DB_DSN=postgres://postgres:postgres@localhost:54323/auth?sslmode=disable

### MIGRATION
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=${DB_DSN}
GOOSE_MIGRATION_DIR=./internal/migrations